:root {
  --font-heading: 'Clash Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-body);
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 500;
  margin: 0;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
}
button:focus,
button:focus-visible {
}
