:root {
  --font-heading: 'Clash Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-text: #ffffff;

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --line-height-normal: 1;

  --max-width: 1629px;
  --min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: var(--min-width);
  min-height: 100vh;
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: var(--line-height-normal);
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-medium);
  margin: 0;
}

p {
  margin: 0;
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--color-text);
}

button {
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
